img {
  border-radius: 8px;
  width: 510px;
  height: auto;
}

body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

title {
  font-family: "Lucida Console", "Courier New", monospace;
}
