img {
  border-radius: 8px;
  width: 510px;
  height: auto;
}

body {
  background-color: lightblue;
  margin-right: 160px;
  margin-left: 160px;
}

h1 {
  color: white;
  text-align: center;
}

h1 {
  font-family: "Lucida Console", "Courier New", monospace;
}

a {
  margin-right: 150px;
}

p {
  font-size: 20px;
 /* margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;*/
}
}
