img {
  border-radius: 8px;
  width: 510px;
  height: auto;
}

.topnav a {
  float: up;
  display: inline;
  color: #1a0d00;
  text-decoration: none;
  padding: 10 px;
  font-size: 20px;
}

title {
  padding: 20px;
}

body {
  background-color: #F4F6F6;
  margin-right: 160px;
  margin-left: 160px;
}

h1 {
  color: blue;
  text-align: center;
}

h1 {
  font-family: "Lucida Console", "Courier New", monospace;
}

div {
  margin-top: 20px
  
}

a {
  font-size: 15px;
}

imgc {
  text-align: center;
}

p {
  font-size: 22px;
  font-family: "Palatino", "URW Palladio L", serif;
 /* margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;*/
}
}
