img {
  border-radius: 8px;
  width: 510px;
  height: auto;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

body {
  background-color: #F4F6F6;
  margin-right: 160px;
  margin-left: 160px;
}

h1 {
  color: white;
  text-align: center;
}

h1 {
  font-family: "Lucida Console", "Courier New", monospace;
}

div {
  margin-top: 20px
  
}

a {
  font-size: 15px;
}

p {
  font-size: 22px;
 /* margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;*/
}
}
