img {
  border-radius: 8px;
  width: 100%;
  height: auto;
}

.highlighter-rouge .highlight {
    background: #eef
}

body {
  background-color: lightblue;
}
h1 {
  color: white;
  text-align: center;
}
