img {
  border-radius: 8px;
  width: 510px;
  height: auto;
}

body {
  background-color: lightblue;
  margin-right: 150px;
  margin-left: 150px;
}

h1 {
  color: white;
  text-align: center;
}

title {
  font-family: "Lucida Console", "Courier New", monospace;
}

